<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!--
      このフォルダ（データベースの置き場所）からは、何も配信しない。
      URL を打って 日報集計_be.accdb をそのまま持ち出されないようにするため。
    -->
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="false" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
